.App {
  text-align: center;
}

body {
  background-color: #fdf0d5;
}

.App-link {
  color: #61dafb;
}



/* App Stuff */
footer {
  text-align: center;
  /* margin: 2rem; */
  /* padding: 5px; */
  border: 1px solid transparent;
  background-color: #ede0d4;
  padding-bottom: 50px;
  font-family:'Courier New', Courier, monospace;

  
}

footer li{
  display: inline-block;
  padding: 1% 5%;
  
}

.FootIco{
  width: 10%;
  height: 10%;
}
.Footer li:hover{
  color: tan;
}



/* Main Page */

.bradypic{
  max-width: 60%;
  height: 60%;
  border-radius: 30%;
}

#MainContent{
  text-align: center;
  
}
.ContentArea{
  display: inline-block;
  vertical-align: middle;
  padding-top: 20%;
  
  padding-bottom: 25%;
  font-family:'Courier New', Courier, monospace;
}


.MainDetails{
  
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(40,end),
  blink-caret .75s step-end infinite;

}
@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: black;}
}

/* About Me */

#AboutMe{
  /* border: 1px solid black; */
  width: 100%;
  background: #ffffff;
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 15px;

}

.AboutIco{
  width: 2%;
  height: 2%;
}

.AboutMeContent{
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  
}

.AboutMeContent2{
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  border: 1px solid tan;
}


.AboutMePic{
  max-width: 50%;
  max-height: 50%;
  padding-bottom: 15%;
}


.Skills{
  list-style: none;
}

.Icon{
  width: 110px;
  height: 40px;
}




/* #MainSkills {
  border: solid black 1px;
  border-radius: 15%;
  background: #e6ccb2;
  width: 90%;
  margin: 0 auto;
} */


/*  Projects  */
#Projects{
  font-family:'Courier New', Courier, monospace;

}

.ProjectContent{
  display: inline-block;
  padding: 10px;
  font-family:'Courier New', Courier, monospace;

}

/* .bradypic2{
  max-width: 1000px;
  height: 800px;
} */
.bradypic2{
  width: 1000px;
  height: 650px;
  
}
.ProjectContent:hover .bradypic2{
  opacity: 0.3;
}
.AboutMePic {
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  
  margin: auto;
  background: #fff;
  padding: 30px;
  border-style: solid;
  border-width: 15px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

.Icons{
  width: 110px;
  height: 40px;
}

/* Nav Bar Stuff */

#WebDevTitle{
  font-size: 18px;
  
}

#LinkList{
  list-style-type: none;
}

#NavBar {
  font-family:'Courier New', Courier, monospace;
  border: 1px solid transparent;
  /* margin: 2rem; */
  padding: 1rem 1rem;
  text-align: center;
  font-size: 130%;
}

.NavStuff {
  display: inline-block;
  padding: 1rem 12rem;
  vertical-align: middle;
  
}

.NavLinks {
  display: inline-block;
  padding: 16px 80px;
  font-size: 25px;
  text-decoration: none;
  color: inherit;
}

.NavLinks li:hover{
  color: tan;
}


/* Media Queries */

/* Mobile Screens */

@media screen and (max-width: 400px) {
  
  .bradypic2{
    width: 100%;
    height: 60%;
    
  }
  .AboutMePic{
    scale: 100%;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0;
    
  }
  .AboutIco{
    width: 5%;
    height: 5%;
  }
  .AboutMeContent{
    display: inline;
  }
  .AboutMeContent2{
    display: inline;
    border: 0px;
  }
  
  #NavBar{
    text-align: left;
    font-size: 100%;
    padding: 10% 0px;
    border: 0px;
    
    
    
  
  }
  .NavLinks{
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    margin-right: 50%;
    
    
  }
  

  .MainDetails{
    font-size: 15px;
    
  }


  .ContentArea{
    padding: 30px;
    padding-bottom: 80%;
    padding-top: 20%;
  }

  
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
  footer li{
    display: inline-block;
    padding: 1% 1%;
    
  }
  
  

}

/* Tablet Screens */

@media screen and (min-width: 600px) and (max-width: 1240px){
  .bradypic2{
    width: 100%;
    height: 100%;
    
  }
  .AboutMePic{
    scale: 100%;
    
    border-radius: 0;
    
  }
  .ContentArea{
    padding-top: 50%;
    padding-bottom: 60%;
  }
  .AboutMeContent{
    display: inline;
  }
  .AboutMeContent2{
    display: inline;
    border: 0px;
  }
  .MainDetails{
    font-size: 25px;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  footer li{
    display: inline;
    
    
  }
  .NavLinks{
    padding: 25px;
  }

  .FootIco{
    width: 40px;
  }

} 

/* Side Monitor */

@media screen and (min-width: 1268px) and (max-width: 2330px){
  footer li{
    
    display: inline;
    padding: 30px;
  }
  .FootIco{
    width: 40px;
  }
  
}

